{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "destructuring": true,
    "generators": true,
    "objectLiteralShorthandMethods": true,
    "modules": true,
    "jsx": true
  },
  "plugins": [ "react" ]
}
