// https://github.com/jtangelder/sass-loader/issues/40#issuecomment-70269553
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../../css/bulma-social.css';
@import '~bootstrap-social/bootstrap-social.scss';
@import '~bulma/bulma';

html {
  overflow-y: scroll;
}

.is-stack-overflow {
  background-color: #f86b23;
}

.fa-stack-overflow {
  color: white;
}
