$navbar-height: 5rem;

@import 'bulma/bulma.scss';

html {
  overflow-y: scroll;
  height: 100%;
}

html, body, #root {
  height: 100%;
}

.is-stack-overflow {
  background-color: #f86b23;
}

.fa-stack-overflow {
  color: white;
}
