.header {
  .navbar-header {
    display: flex;
    align-items: center;
  }

  .navbar-default {
    .navbar-nav {
      > li {
        > a {
          &:hover,&.active {
            background-color: rgba(0, 0, 0, .08);
            color: #333;
          }
        }
      }
    }
  }
}
